Repository flink-extended/ai-flow, pull requests merged in 2021-11, with the labels that each got.

#127 [AIFlow] Fix WTForms version in requirements.txt
  requirements.txt
Labels: bug

#128 [AIFlow] Fix WTForms version in requirements.txt
  requirements.txt
Labels: bug

#116 [AIFlow] Report code coverage to Codecov after unit test
  .github/workflows/flink_ai_flow_ci.yml
  README.md
  ai_flow/endpoint/client/scheduler_client.py
  ai_flow/test/endpoint/test_client.py
  ai_flow/test/endpoint/test_java_client.py
  ai_flow/test/scheduler/test_scheduler_service.py
  ai_flow/test/translator/test_translator.py
  ai_flow_plugins/tests/its/scheduler_plugins/airflow/it_test_airflow_restful_util.py
  ai_flow_plugins/tests/its/scheduler_plugins/airflow/workflows/test_bash/it_test_bash.py
  lib/notification_service/tests/test_high_availability.py
  lib/notification_service/tests/test_notification.py
  requirements-dev.txt
  run_tests.sh
Labels: AI Flow

#141 [AIFlow] Supports the workflow development on the Jupyter Notebook
  ai_flow/__init__.py
  ai_flow/api/ai_flow_context.py
  ai_flow/common/configuration.py
  ai_flow/workflow/workflow_config.py
  examples/notebook/simple_workflow.ipynb
Labels: enhancement, AI Flow

#151 [Airflow] Fix PeriodicEvent handling
  lib/airflow/airflow/contrib/jobs/event_based_scheduler_job.py
Labels: bug

#152 [Airflow] Fix PeriodicEvent handling
  lib/airflow/airflow/contrib/jobs/event_based_scheduler_job.py
Labels: bug

#156 [Bugfix] Fix in dagruns IndexError when dagruns are empty
  lib/airflow/airflow/contrib/jobs/event_based_scheduler_job.py
  lib/airflow/tests/contrib/jobs/test_event_based_scheduler.py
Labels: bug, AI Flow

#168 [AIFlow] Bugfix the properties field convert of the `ProtoToMeta`
  ai_flow/metadata_store/utils/ProtoToMeta.py
  ai_flow/test/endpoint/test_client.py
Labels: bug, AI Flow
