Repository flink-extended/ai-flow, pull requests merged in 2021-12, with the labels that each got.

#169 [AIFlow] Frontend introduces the version of the AIFlow
  ai_flow/frontend/src/api/manage.js
  ai_flow/frontend/src/components/GlobalFooter/index.vue
  ai_flow/frontend/src/layouts/UserLayout.vue
  ai_flow/frontend/src/mock/index.js
  ai_flow/frontend/src/mock/services/other.js
  ai_flow/frontend/src/views/metadata/Artifact.vue
  ai_flow/frontend/src/views/metadata/Dataset.vue
  ai_flow/frontend/src/views/metadata/JobExecution.vue
  ai_flow/frontend/src/views/metadata/Model.vue
  ai_flow/frontend/src/views/metadata/ModelVersion.vue
  ai_flow/frontend/src/views/metadata/Project.vue
  ai_flow/frontend/src/views/metadata/Workflow.vue
  ai_flow/frontend/src/views/metadata/WorkflowExecution.vue
  ai_flow/frontend/web_server.py
  ai_flow/test/frontend/test_web_server.py
  lib/airflow/airflow/models/baseoperator.py
Labels: AI Flow

#199 [Notification] Improve notification server cli
  lib/notification_service/notification_service/cli/commands/server_command.py
  lib/notification_service/notification_service/util/utils.py
  lib/notification_service/tests/cli/commands/test_server_command.py
  lib/notification_service/tests/util/test_util.py
Labels: Notification

#212 [AIFlow] Update logging level of log in sqlalchemy_store.py
  ai_flow/store/sqlalchemy_store.py
Labels: AI Flow

#214 [AIFlow][chart] Update chart to start services with cli and use different db
  chart/templates/_helpers.yaml
  chart/templates/aiflow_webserver/webserver-deployment.yaml
  chart/templates/configmaps/aiflow-configmaps.yaml
  chart/templates/notification/notification-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: AI Flow, chart

#215 [Notification] Update notificaiton stop
  ai_flow/util/process_utils.py
  lib/notification_service/notification_service/cli/commands/server_command.py
  lib/notification_service/notification_service/util/utils.py
  lib/notification_service/tests/cli/commands/test_server_command.py
  lib/notification_service/tests/test_notification.py
  lib/notification_service/tests/util/test_util.py
Labels: Notification

#236 [Plugins] Flink job plugin supports the multiple Flink versions
  ai_flow_plugins/job_plugins/flink/__init__.py
  ai_flow_plugins/job_plugins/flink/flink_env.py
  ai_flow_plugins/job_plugins/flink/flink_processor.py
  ai_flow_plugins/job_plugins/flink/flink_run_main.py
  ai_flow_plugins/job_plugins/flink/flink_version.py
  ai_flow_plugins/job_plugins/flink/flink_wrapped_env.py
  ai_flow_plugins/tests/job_plugins/single_job_scheduler.py
  ai_flow_plugins/tests/job_plugins/ut_workflows/workflows/test_flink/test_flink_processor.py
  examples/wide_and_deep/workflows/wdl/cencus_stream_train_executors.py
  examples/wide_and_deep/workflows/wdl/census_batch_executors.py
  requirements-dev.txt
  requirements.txt
  run_tests.sh
Labels: AI Flow
